/* General */
body
{
    font-family:'Lato';
}
.center
{

    margin:auto;
    float:none;
    margin-top:30px;
}
p 
{
    font-weight:300;
    color:#303030;
    font-size:16px;
    line-height:28px;
}
h2 
{
    color:#303030;
    font-size:30px;
    font-weight:bold;
    position:relative;
    padding-bottom:20px;
    margin-bottom:30px;
}
h2:after
{
    content:'';
    position:absolute;
    height:8px;
    width:120px;
    background-image:url(../img/lineasAzul.png);
    bottom:0;
    left:0;
}
h2.text_center:after
{
    left:calc(50% - 60px);
}
a,a:hover
{
    color:inherit;
    text-decoration:none;
}
.right
{
    float:right;
}
/* Fin General */
/* Header */
header .right img
{
    display: list-item;
    margin-right:10px;
}
header .right
{
    padding:50px 0;
    text-align:right;
}
header .right span
{
    font-size:12px;
    color:#767676;
}
header .right b 
{
    color:#303030;
    font-size:20px;
}
header .right
{
    display:flex;
    justify-content:flex-end;
}
header #logo
{
    margin-top:30px;
}
header nav 
{
    background-color: #0047af;
    color:white;
}
header nav ul li a 
{
    color:white;
    font-size:16px;
    font-weight:bold;
}

header nav ul
{
    display:flex;
    margin:0;
    position:  relative;
}
header nav ul li 
{
    border-right: 1px solid #ffffff1f;
    padding: 15 30px;
    /* margin:15px 0; */
}
header nav ul li:last-child
{
    border-right:none;
}
header .TeLlamamos
{
    background-image:url(../img/bgTeLlamamos.png);
    width:230px;
    margin-top:-17px;
    float:right;
    position:  absolute;
    right: 0;
    height: 67px;
    z-index: 1;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:centeR;
    display: none;
}
header .TeLlamamos a 
{
    color:black;
}
header .TeLlamamos img 
{
    margin-right:10px;
}
/* Fin Header */
/* Inicio */
.captionSlider
{
    background: rgba(237,237,237,0);
background: -moz-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(245,245,245,0.47) 47%, rgba(246,246,246,0.49) 49%, rgba(255,255,255,0.75) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,237,237,0)), color-stop(47%, rgba(245,245,245,0.47)), color-stop(49%, rgba(246,246,246,0.49)), color-stop(100%, rgba(255,255,255,0.75)));
background: -webkit-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(245,245,245,0.47) 47%, rgba(246,246,246,0.49) 49%, rgba(255,255,255,0.75) 100%);
background: -o-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(245,245,245,0.47) 47%, rgba(246,246,246,0.49) 49%, rgba(255,255,255,0.75) 100%);
background: -ms-linear-gradient(left, rgba(237,237,237,0) 0%, rgba(245,245,245,0.47) 47%, rgba(246,246,246,0.49) 49%, rgba(255,255,255,0.75) 100%);
background: linear-gradient(to right, rgba(237,237,237,0) 0%, rgba(245,245,245,0.47) 47%, rgba(246,246,246,0.49) 49%, rgba(255,255,255,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=1 );
    padding-right:100px;
}
#myCarousel .item img, #myCarousel .item.active img 
{
    height:initial!important;
    width:initial!important;
    min-height: initial;
}
.captionSlider h3 
{
    font-size:17px;
    font-weight:300;

}
.captionSlider h2:after
{
    display:none;
  
}
.captionSlider h2
{
    color:#0047af;
    font-weight:bold;
    margin-bottom:0;
    font-size:41px;
}
.captionSlider button
{
    background:#0047af;
    border:none;
    color:white;
    font-weight:300;
    padding:10px 50px;
    margin-top:30px;
}
.carousel .item 
{
    background-size:cover;
    background-position:center;
    height: 550px;
}
.carousel-indicators li
{
    border:2px solid #0047af;
    margin:5px 10px;
    width:15px;
    height:15px;
}
.carousel-indicators .active
{
    background-color:#0047af;
    border-color:#0047af;
    margin:5px 0;
    width:15px;
    height:15px;
}
#NosotrosI
{
    padding:100px 0;
}
#NosotrosI .col-md-4 img 
{
    margin-right:10px;
}
#NosotrosI .col-md-4,#NosotrosI .col-md-6
{
    margin-top:40px;
}
#NosotrosI .container .row
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    /* flex-grow: 4; */
}
#NuestrosClientes,#NosotrosB
{
    background-image:url(../img/pattern.png);
    padding:80px 0;
    text-align:center;
}
#NuestrosClientes .owl-item
{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100px;
    margin-top: 40px;
}
#NoticiasI
{
    padding:80px 0;
    text-align:center;
}
#NoticiasI .img 
{
    height:200px;
    background-size:cover;
    background-position:center;

}
#NoticiasI .col-md-4
{
    margin:30px 0;
    height: 350px;
}
#NoticiasI button
{
    border:1px solid #333;
    background:transparent;
    color:#333;
    padding:5px 30px;
}
#NoticiasI h4 
{
    font-weight:bold;
    font-size:20px;
    margin:20px 0;
}
/* Fin Inicio */
/* Footer */
footer
{
    background:#0047af;
    color:white;
    padding-top:80px;
}
footer p 
{
    color:white;
    font-size:15px;
    text-align:justify;
    line-height:22px;
    margin-top:20px;
}
footer b 
{
    font-size:22px;
}
footer ul 
{
    margin-top:20px;
}
footer ul:not(.dato) li:before
{
    content:'';
    width:6px;
    height:6px;
    background:white;
    left:0;
    top:7px;
    position:absolute;
}
footer ul li
{
    font-weight:300;
    margin:5px 0;
    position:relative;
    padding-left:17px;
}
footer .dato li 
{
    margin-bottom:10px;
}
footer .dato span
{
    font-weight:bold;
    font-size: 16px;
}
footer .dato img 
{
    margin-right:20px;
}
footer .bajo
{
    background:#303030;
    text-align:center;
    padding:25px;
    margin-top:60px;
    font-size:16px;
}
/* Fin Footer */
#NosotrosB
{
    margin:80px 0;
}
#NosotrosB .col-md-4 img 
{
    margin-right:10px;
}
#NosotrosPQ
{
    margin-bottom:80px;
    text-align:center;
}
#NosotrosPQ h2 
{
    margin-bottom:70px;
}
#NosotrosPQ h3 
{
    font-weight:Bold;
    font-size:20px;
    margin:20px 0;
}
.hoja
{
    padding-top:40px;
}
#ServiciosI
{
  padding-bottom:60px;
}
#Servicios .Num
{
    color:#d6d6d6;
    font-weight:300;
    font-size:23px;
    display:block;
    text-align:center;
}
#Servicios .col-md-6 h2 img 
{
    margin-right:10px;
}
#Servicios .int
{
    padding:15px;
    height:400px;
    margin:6px -9px;
}
#Servicios #S1 .int
{
    border-right:5px solid #F7F7F7;

    border-bottom:5px solid #F7F7F7;
}
#Servicios #S2 .int
{
    border-left:5px solid #F7F7F7;

    border-bottom:5px solid #F7F7F7;
}
#Servicios #S3 .int
{
    border-right:5px solid #F7F7F7;

    border-top:5px solid #F7F7F7;
}
#Servicios #S4 .int
{
    border-left:5px solid #F7F7F7;
    
    border-top:5px solid #F7F7F7;
}
#Servicios .col-md-6 h2:after
{
    display:none;
}
#Servicios .col-md-6
{

}
#Servicios .col-md-6 h2
{
    color:#0047af;
}
#Servicios .iconos
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    height:150px;
    position:absolute;
    bottom:0;
    margin-bottom:30px;
    width: 100%;
}
#Servicios .iconos div
{
    width:30%;
   margin:20px 0;
   font-size:16px;
}
#Servicios .iconos div img 
{
    margin-right:10px;
    float:left;
}
#Servicios #S3 span
{
    margin-bottom:90px;
}
#Servicios #S3 img
{
    float:left;
    margin-right:40px;
    margin-top:-30px;
}
#Servicios #S4 img
{
    float:left;
    margin-right:40px;
    margin-top:-30px;
}
#Servicios #S4 span
{
    margin-bottom:90px;
}
#Servicios #S4 img
{
    float:left;
    margin-right:40px;
}
#Servicios h4
{
    font-size:27px;
    font-weight:bold;
}
#Servicios button
{
    color:#0047af;
    background:transparent;
    border:2px solid #0047af;
    font-weight:bold;
    font-size:18px;
    padding:10px 150px;
}
/* CONTACTO */
#seccionContacto h2,#seccionNosotros h2,#seccionStaff h2,#seccionCategoria h2 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}
#seccionContacto h3
{
  /* font-weight:bold; */
  font-size: 32px;
  color:#3b3b3b;
  margin-bottom:20px;
}
#seccionContacto .boxDer h3
{
  text-align:center;
}
#seccionContacto .boxDer p
{
  text-align:center;
  font-size: 18px;
} 
#seccionContacto p 
{
  /* font-size:14px; */
  color:#676767;
  line-height: 22px;
}
#seccionContacto .boxIzq img
{
  margin-right:20px;
  margin-bottom:20px;
}
#seccionContacto .boxIzq span
{
  font-weight:bold;
  font-size:19px;
  color:#3b3b3b;
  margin-bottom:10px;
  display:block;
}
#seccionContacto .boxIzq
{
  border-right:1px solid #D8D8D8;
}
#seccionContacto .boxIzq h3
{
  margin-bottom:60px;
}
#seccionContacto .boxIzq ul li 
{
  display:block;
  clear: both;
  margin-bottom: 30px;
}
#seccionContacto form
{
  width:80%;
  margin:auto;
  margin-top: 30px;
  margin-bottom: 100px;
}
#seccionContacto form input,#seccionContacto form textarea,#seccionContacto form select
{
  background-color: white;
  border: 2px solid #c4c4c4;
  /* border-radius:4px; */
  padding:10px;
  /* font-style:italic; */
  font-size: 15px;
  margin-bottom:10px;
  width:100%;
}
#seccionContacto form textarea
{
  height:120px;
}
#seccionContacto form button
{
  border:none;
  background-color: #0047af;
  color:white;
  /* font-weight:bold; */
  float:Right;
  padding:10px 100px;
  /* border-radius:6px; */
  font-size: 17px;
}
.TL
{
  background:#0047af;
  position:absolute;
  right:0;
  top:60px;
  padding:20px;
  z-index:1;
  display:none;
}
.TL input
{
  width: 300px;
  display:block;
  margin:5px 0;
  border:1px solid white;
  background:transparent;
  padding:10px 20px;
  color:white;
}
.navbar-nav > li > a
{
  padding:0;
  background-color:transparent!important;
  cursor: pointer;
  
}
header nav ul 
{
  width:100%;
}
.TL input::placeholder
{
  color:white;
  font-style:italic;
}
.TL button
{
  background:white;
  border:none;
  color:#0047af;
  font-weight:bold;
  padding:5px 30px;
}
header .dropdown-menu a 
{
  color:white;
}
header .dropdown-menu
{
  background:#0047af;
  color:white;
  width: initial;
  /* margin-top: 12px!Important; */
  padding-top: 12px;
}
/* Responsive */
@media (max-width: 768px) {
 .navbar-toggle {
      background: #2757d1;
      margin-top: 0px;
      margin-top: 20px;
    }
    .navbar-toggle span {
      background: #fff;
    }
    .izq .navbar-toggle span 
    {
      background:transparent;
      color:white;
    }
    .izq .navbar-toggle
    {
      padding:5px;
    }
    .sub-header nav {
      margin-top: 0;
    }
    header nav ul li {
      display: block !important;
      text-align: center;
      padding: 5px;
      float: none!important;
      padding: 10px!important;
      margin: 0;
      border-bottom: 1px solid #ffffff59;
    }
    header nav ul {
        background-color: rgb(27, 83, 225);
        color: white;
        /* min-width: 300px; */
        float: none!important;
        display: block;
        width: 100%;
    }
    nav ul li a
    {
        /* color:white; */
        /* border-bottom: 1px solid #ffffff59; */
        /* background-color: rgb(181, 4, 4)!important; */
        border-radius: 0;
    }
    header nav ul li.activo, header nav ul li:hover
    {
      /* background: #2dacd5!important; */
      border-top: none;
      color: #323231;
    }
    header nav 
    {
      background-color:white;
    }
    header .TeLlamamos
    {
      display:none;
    }
    header .right
    {
      padding:20px 0;
      float: left;
      padding-left: 15px;
    }
    header .right b
    {
      font-size:14px
    }
    .carousel .item
    {
      height:400px;
      text-align:center;
    }
    .captionSlider h2
    {
      font-size:25px;
    }
    #NosotrosI .container .row
    {
      flex-direction:column;
    }
    #NosotrosI .col-md-5 img
    {
      height:200px;
    }
    .captionSlider
    {
      padding-right:0;
    }
    h2{
      text-align:center;
      font-size:24px;
    }
    h2:after
    {
      left:calc(50% - 60px);
    }
    p 
    {
      text-align:center;
    }
    footer
    {
      text-align:center;
    }
    footer p 
    {
      text-align:center;
    }
    footer .dato li 
    {
      clear:both;
      height:70px;
    }
    footer .dato img
    {
      float:left;
    }
    #Servicios .iconos
    {
      position:relative;
    }
    #Servicios .int
    {
      height:initial;
      border:none!important;
      border-top: 5px solid #F7F7F7!important;
    }
    #Servicios #S3 img,#Servicios #S4 img
    {
      width:100px;
      margin-top: 0;
    }
    #Servicios h4
    {
      font-size:20px;
    }
    #Servicios #S3 span,#Servicios #S4 span
    {
      margin-bottom:0;
    }
    #Servicios button
    {
      padding:10px 60px;
    }
}

#Servicios ul li:before
{
  content:'';
  position:absolute;
  width:7px;
  height:7px;
  left:0;
  top:6px;
  background:#0047af;
}
#Servicios ul li 
{
  /* width:50%; */
  padding-left:15px;
  position:relative;
  display: inline-table;
  margin-right:30px;
}
.rrss
{
  width:50px;
  position:fixed;
  left:0;
  z-index:11111;
  background:white;
  top:calc(50% - 50px);
  box-shadow:0px 0px 10px #00000057;
}