html,body,div,mark,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol, ul:not(.fr-tag){list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
img{max-width:100%;}
ul.fr-tag
{
    padding-left:20px;
}
.froala-element ul 
{
    list-style:disc;
}
mark,strong,b{background:none;font-weight:bold;color:inherit;}
.cont-ext{height:100%;width:100%;display:table;}
.cont-int{display:table-cell;vertical-align:middle;}
img.full{width:100%;height:auto;display:block;}
.limpiador:after{display:block;content:"";clear:both;}
.flex{display:flex;flex-wrap:wrap;}
.flex.nopadding > *{padding:0;}
.cont{position:relative;}
.text_center{text-align:center;}
.text_right{text-align:right;}
#myCarousel .item img, #myCarousel .item.active img{width:100% !important;min-height:200px;}
.alerta{transition:all .3s ease;text-align:center;border-radius:5px;border:none;color: #252433;padding:15px 20px;margin:30px 0;}
.alerta span{color: #252433;/* opacity:.5; */margin-right: 5px;transition:all .3s ease;}
.alerta span:hover{opacity:1}
.alerta.error{background:#E75D52;}
.alerta.exito{background: green;color: #fff;}
.bg{background-size:cover;background-position:center;background-repeat:no-repeat;}
.right{float:right;}
.clear{clear:both;}
a,a:hover{color:inherit; text-decoration:none;}